In [17]:
import pandas as pd
import numpy as np

print("Reading data...")
train_file = "train.csv"
df_train = pd.read_csv(train_file, header = 0,index_col=None)

test_file = "test.csv"
df_test = pd.read_csv(test_file, header = 0,index_col=None)

# Combining into one dataset for cleaning
df_all = pd.concat((df_train, df_test), axis=0, ignore_index=True)
print("Reading data...completed")

Reading data...
Reading data...completed

In [18]:
df_all.head()

,INT_LOG,alternativ_insurgency_guerilla_action,alternativ_intra_intergroup_conflict,alternativ_lack_of_intentionality,alternativ_other_crime_type,alternativ_state_actors,alternativ_terrorist_attack,attacktype_armed_assault,attacktype_assassination,attacktype_bombing_explosion,...,targtype1__police,targtype1__private_citizens_&_property,targtype1__religious_figures_institutions,targtype1__telecommunication,targtype1__terrorists_nonstate_militia,targtype1__tourists,targtype1__transportation,targtype1__unknown,targtype1__utilities,targtype1__violent_political_party
0,-9,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,1,0,0
1,-9,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,0,0,0,0
2,-9,0,0,0,0,0,1,0,0,1,...,0,0,0,0,0,0,1,0,0,0
3,-9,0,0,0,0,0,1,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4,-9,0,0,0,0,0,1,0,0,1,...,0,1,0,0,0,0,0,0,0,0

In [19]:
df_train.head()

,eventid,iyear,imonth,iday,extended,country_txt,region_txt,doubtterr,success,suicide,...,gname_jaish_almujahideen_syria,gname_league_of_damascus_for_special,gname_the_78_unemployed,gname_authenticity_and_development_f,gname_justice_and_equality_movement_,gname_jihadiinspired_extremists,gname_ajnad_alsham,gname_turkestan_islamic_party,gname_khaled_ibn_alwalid_army,gname_the_independent_military_wing_
0,201606070016,2016,6,7,0,Iraq,Middle East & North Africa,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,201610210004,2016,10,21,0,Iraq,Middle East & North Africa,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,198702010001,1987,2,1,0,Israel,Middle East & North Africa,0,1,0,...,0,0,0,0,0,0,0,0,0,0
3,200606240015,2006,6,24,0,Iraq,Middle East & North Africa,0,1,0,...,0,0,0,0,0,0,0,0,0,0
4,201306290007,2013,6,29,0,Lebanon,Middle East & North Africa,0,1,0,...,0,0,0,0,0,0,0,0,0,0

In [20]:
df_test.head()

,eventid,iyear,imonth,iday,extended,region_txt,doubtterr,success,suicide,individual,...,gname_jaish_almujahideen_syria,gname_league_of_damascus_for_special,gname_the_78_unemployed,gname_authenticity_and_development_f,gname_justice_and_equality_movement_,gname_jihadiinspired_extremists,gname_ajnad_alsham,gname_turkestan_islamic_party,gname_khaled_ibn_alwalid_army,gname_the_independent_military_wing_
0,201506240049,2015,6,24,0,Middle East & North Africa,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
1,198002230005,1980,2,23,0,Middle East & North Africa,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,200507270007,2005,7,27,0,Middle East & North Africa,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
3,201103310010,2011,3,31,0,Middle East & North Africa,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
4,200903140005,2009,3,14,0,Middle East & North Africa,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [21]:
df_all.columns

Index(['INT_LOG', 'alternativ_insurgency_guerilla_action',
       'alternativ_intra_intergroup_conflict',
       'alternativ_lack_of_intentionality', 'alternativ_other_crime_type',
       'alternativ_state_actors', 'alternativ_terrorist_attack',
       'attacktype_armed_assault', 'attacktype_assassination',
       'attacktype_bombing_explosion',
       ...
       'targtype1__police', 'targtype1__private_citizens_&_property',
       'targtype1__religious_figures_institutions',
       'targtype1__telecommunication',
       'targtype1__terrorists_nonstate_militia', 'targtype1__tourists',
       'targtype1__transportation', 'targtype1__unknown',
       'targtype1__utilities', 'targtype1__violent_political_party'],
      dtype='object', length=539)

In [22]:
df_all['country_txt']

0                            Iraq
1                            Iraq
2                          Israel
3                            Iraq
4                         Lebanon
5        West Bank and Gaza Strip
6                           Egypt
7                            Iraq
8                            Iraq
9                            Iraq
10                           Iraq
11                           Iraq
12                           Iraq
13                          Syria
14                         Israel
15                           Iraq
16                          Egypt
17                           Iran
18                           Iraq
19                          Syria
20                          Libya
21                           Iraq
22                          Libya
23                           Iraq
24                        Lebanon
25                           Iraq
26                           Iraq
27                         Turkey
28                           Iraq
29                           Iraq
                   ...
22392                         NaN
22393                         NaN
22394                         NaN
22395                         NaN
22396                         NaN
22397                         NaN
22398                         NaN
22399                         NaN
22400                         NaN
22401                         NaN
22402                         NaN
22403                         NaN
22404                         NaN
22405                         NaN
22406                         NaN
22407                         NaN
22408                         NaN
22409                         NaN
22410                         NaN
22411                         NaN
22412                         NaN
22413                         NaN
22414                         NaN
22415                         NaN
22416                         NaN
22417                         NaN
22418                         NaN
22419                         NaN
22420                         NaN
22421                         NaN
Name: country_txt, Length: 22422, dtype: object

In [23]:
df_train1 = df_train
df_test1 = df_test
df_all1 = df_all

In [24]:
df_train1.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'country_txt',
       'region_txt', 'doubtterr', 'success', 'suicide',
       ...
       'gname_jaish_almujahideen_syria',
       'gname_league_of_damascus_for_special', 'gname_the_78_unemployed',
       'gname_authenticity_and_development_f',
       'gname_justice_and_equality_movement_',
       'gname_jihadiinspired_extremists', 'gname_ajnad_alsham',
       'gname_turkestan_islamic_party', 'gname_khaled_ibn_alwalid_army',
       'gname_the_independent_military_wing_'],
      dtype='object', length=539)

In [25]:
df_train['country_txt'].head()

0       Iraq
1       Iraq
2     Israel
3       Iraq
4    Lebanon
Name: country_txt, dtype: object

In [26]:
df_test1.columns

Index(['eventid', 'iyear', 'imonth', 'iday', 'extended', 'region_txt',
       'doubtterr', 'success', 'suicide', 'individual',
       ...
       'gname_jaish_almujahideen_syria',
       'gname_league_of_damascus_for_special', 'gname_the_78_unemployed',
       'gname_authenticity_and_development_f',
       'gname_justice_and_equality_movement_',
       'gname_jihadiinspired_extremists', 'gname_ajnad_alsham',
       'gname_turkestan_islamic_party', 'gname_khaled_ibn_alwalid_army',
       'gname_the_independent_military_wing_'],
      dtype='object', length=538)

In [27]:
df_all.columns

Index(['INT_LOG', 'alternativ_insurgency_guerilla_action',
       'alternativ_intra_intergroup_conflict',
       'alternativ_lack_of_intentionality', 'alternativ_other_crime_type',
       'alternativ_state_actors', 'alternativ_terrorist_attack',
       'attacktype_armed_assault', 'attacktype_assassination',
       'attacktype_bombing_explosion',
       ...
       'targtype1__police', 'targtype1__private_citizens_&_property',
       'targtype1__religious_figures_institutions',
       'targtype1__telecommunication',
       'targtype1__terrorists_nonstate_militia', 'targtype1__tourists',
       'targtype1__transportation', 'targtype1__unknown',
       'targtype1__utilities', 'targtype1__violent_political_party'],
      dtype='object', length=539)

In [28]:
#import xgboost as xgb

#from xgboost.sklearn import XGBClassifier
#from sklearn import cross_validation, decomposition, grid_search
#from sklearn.preprocessing import LabelEncoder

# Prepare training data for modelling
df_train1.set_index('eventid', inplace=True)
#df_train2 = df_train1

In [29]:
df_train1.shape

(15695, 538)

In [30]:
df_train1.head()

,iyear,imonth,iday,extended,country_txt,region_txt,doubtterr,success,suicide,individual,...,gname_jaish_almujahideen_syria,gname_league_of_damascus_for_special,gname_the_78_unemployed,gname_authenticity_and_development_f,gname_justice_and_equality_movement_,gname_jihadiinspired_extremists,gname_ajnad_alsham,gname_turkestan_islamic_party,gname_khaled_ibn_alwalid_army,gname_the_independent_military_wing_
eventid,,,,,,,,,,,,,,,,,,,,,
201606070016,2016,6,7,0,Iraq,Middle East & North Africa,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201610210004,2016,10,21,0,Iraq,Middle East & North Africa,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198702010001,1987,2,1,0,Israel,Middle East & North Africa,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
200606240015,2006,6,24,0,Iraq,Middle East & North Africa,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0
201306290007,2013,6,29,0,Lebanon,Middle East & North Africa,0,1,0,0,...,0,0,0,0,0,0,0,0,0,0

In [38]:
from sklearn.preprocessing import LabelEncoder

id_train = df_train1.index.values
labels = df_train1['country_txt']

# Label encoding for the categorical data eg: ...NDF -> 7, US -> 10...
le = LabelEncoder()
y = le.fit_transform(labels)
X = df_train1.drop('country_txt', axis=1, inplace=False)

X = X.drop('region_txt', axis=1, inplace=False)
X = X.drop('imonth', axis=1, inplace=False)
X = X.drop('iday', axis=1, inplace=False)
X = X.drop('iyear', axis=1, inplace=False)

In [39]:
X.shape

(15695, 533)

In [40]:
X.head()

,extended,doubtterr,success,suicide,individual,nkill,INT_LOG,city_beirut,city_istanbul,city_tehran,...,gname_jaish_almujahideen_syria,gname_league_of_damascus_for_special,gname_the_78_unemployed,gname_authenticity_and_development_f,gname_justice_and_equality_movement_,gname_jihadiinspired_extremists,gname_ajnad_alsham,gname_turkestan_islamic_party,gname_khaled_ibn_alwalid_army,gname_the_independent_military_wing_
eventid,,,,,,,,,,,,,,,,,,,,,
201606070016,0,0,0,0,0,0.0,-9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201610210004,0,0,0,0,0,0.0,-9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
198702010001,0,0,1,0,0,0.0,-9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
200606240015,0,0,1,0,0,0.0,-9,0,0,0,...,0,0,0,0,0,0,0,0,0,0
201306290007,0,0,1,0,0,1.0,-9,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [42]:
from sklearn import cross_validation
## Spliting of training dataset into 70% training data and 30% testing data randomly
features_train, features_test, labels_train, labels_test = cross_validation.train_test_split(X, y, test_size=0.3, random_state=42)

/home/rajath/anaconda3/lib/python3.6/site-packages/sklearn/cross_validation.py:41: DeprecationWarning: This module was deprecated in version 0.18 in favor of the model_selection module into which all the refactored classes and functions are moved. Also note that the interface of the new CV iterators are different from that of this module. This module will be removed in 0.20.
  "This module will be removed in 0.20.", DeprecationWarning)

In [44]:
## Decision Tree 
from sklearn import tree
clf = tree.DecisionTreeClassifier()
clf.fit(features_train, labels_train)
prediction = clf.predict(features_test)
## Computing accuracy
from sklearn.metrics import accuracy_score
print (accuracy_score(prediction, labels_test))

ValueError: Input contains NaN, infinity or a value too large for dtype('float32').